<template>
  <v-main app>
    <v-container
      fluid
      class="main-container"
    >
      <router-view></router-view>
    </v-container>
  </v-main>
</template>

<script>
export default {
  name: 'AppMain',

}
</script>

<style>
.main {
  min-height: 1vh;
  /* fix after open menu on mobile */
  /* padding: 56px 0 0 56px !important; */
}
</style>