<template>
  <v-footer
    dark
    padless
  >
    <v-card
      flat
      tile
      width="100vw"
      class="indigo lighten-1 white--text text-center"
    >
      <v-card-text>
        <a
          class="footer-link"
          v-for="link in links"
          :key="link.url"
          :href="link.url"
          target="blank"
        >
          <v-btn
            class="mx-4 white--text"
            icon
          >
            <v-icon size="24px">
              {{ link.icon }}
            </v-icon>
          </v-btn>
        </a>
      </v-card-text>

      <v-card-text class="white--text pt-0">
        From Russia with love ❤️
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text">
        {{ new Date().getFullYear() }} — <strong>Roman Terekhov & Avocado</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: 'Footer',
  props: {
  },
  data: () => ({
    links: [
      { icon: 'mdi-gitlab', url: 'https://gitlab.com/r_terekhov' },
      { icon: 'mdi-github', url: 'https://github.com/Ex3R' },
      { icon: 'mdi-bitbucket', url: 'https://bitbucket.org/Ex3r' },
      { icon: 'mdi-email', url: 'https://t.me/r_terekhov' },
      { icon: 'mdi-instagram', url: 'https://www.instagram.com/romahcka/' }
    ],
  }),
}
</script>

<style lang="css" scoped>
.footer-link {
  text-decoration: none;
}
</style>