<template>
  <div>
    <v-app-bar
      :clipped-left=false
      app
      color="white"
      elevation="2"
      rounded
    >

      <v-toolbar
        flat
        :class="[{'mobile' : isMobile}, {'text-wrap' : isMobile}]"
      >
        <v-toolbar-title
          :class="[{'mobile' : isMobile}, {'text-wrap' : isMobile}]"
          style="cursor:pointer"
          @click="$router.push('/').catch(()=>{})"
        >Roman Terekhov 👋 </v-toolbar-title>
      </v-toolbar>

      <!-- large screens -->
      <v-tabs
        v-if="!isMobile"
        right
        v-model="activeTab"
        :optional="true"
      >
        <v-tab
          v-for="tab in tabs"
          :key="tab.id"
          :to="tab.route"
        >{{ tab.name }}</v-tab>

        <v-tabs-items
          v-model="activeTab"
          @change="updateRouter($event)"
        >
          <v-tab-item
            v-for="tab in tabs"
            :key="tab.id"
            :to="tab.route"
          >
            <router-view />
          </v-tab-item>
        </v-tabs-items>
      </v-tabs>

      <v-app-bar-nav-icon
        v-if="isMobile"
        @click.stop="drawer = !drawer"
      ></v-app-bar-nav-icon>

    </v-app-bar>

    <!--  mobile screens -->
    <v-navigation-drawer
      v-if="isMobile"
      v-model="drawer"
      temporary
      app
      bottom
    >
      <v-list
        nav
        dense
      >
        <v-list-item-group v-model="group">
          <v-list-item
            link
            v-for="(item, index) in tabs"
            :key="index"
            :to="item.route"
          >

            <v-list-item-title>{{ item.name }}</v-list-item-title>

          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>

</template>

<script>
export default {
  name: 'NavBar',

  props: {
  },
  data: () => ({
    drawer: false,
    group: null,
    activeTab: null,
    tabs: [
      { id: '0', name: 'Карьера', route: '/career' },
      { id: '1', name: 'Образование', route: '/education' },
      { id: '2', name: 'Хакатоны/Пет', route: '/projects' },
      { id: '3', name: 'Резюме', route: '/resume' }
    ]
  }),

  computed: {
    isMobile () {
      return this.$vuetify.breakpoint.smAndDown;
    },
  },
  watch: {
    group () {
      this.drawer = false
    }
  },
  methods: {
    updateRouter (val) {
      this.$router.push(val)
    }
  }

}
</script>

<style lang="scss" scoped>
.mobile {
  font-size: 1rem;
}
</style>