<template>
  <v-container
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div class="container">
      <p>
        <a
          href="https://ivoice.tech/"
          target="blank"
          class="link"
        >
          <span class="headline font-weight-bold">Ivoice Technology </span>
        </a>
        <span class="heading">- компания по разработке голосовых ассистентов для бизнеса</span>
      </p>
      <p class="subtitle-1">2017 - 2022, Путь от Junior до TeamLead</p>

      <div class="grid-container">
        <div
          class="description"
          data-aos="fade-right"
          data-aos-duration="800"
        >
          <h3>Решаемые задачи</h3>
          <ul class="mt-2">
            <li
              class="mb-2"
              v-for="item in tasks"
              :key="item.text"
            >
              <v-icon>mdi-circle-small</v-icon>
              {{ item.text}}
            </li>
          </ul>
        </div>

        <a
          href="https://ivoice.tech/"
          data-aos="fade-left"
          data-aos-duration="800"
        >
          <img
            src="@/assets/img/career/ivoice/ivoice-main.jpg"
            alt=""
          >
        </a>
      </div>

      <div class="projects mt-10">
        <h3 class="mb-4">Проекты</h3>
        <v-row justify="space-between">
          <v-col
            cols="12"
            sm="12"
            md="12"
            lg="6"
          >
            <div
              class="project-card"
              data-aos="zoom-in-right"
              data-aos-duration="800"
              data-aos-delay="300"
              data-aos-offset="400"
            >
              <p>
                <span class="text-button font-weight-bold">Биллинг</span>
                <span class="heading"> - сервис по учёту затраченных ресурсов</span>
              </p>

              <p class="project-card-body">
                <span class="font-weight-medium">Что было сделано</span>
              </p>

              <ul>
                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Проектирование и разработка сервиса
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Real-time биллинг для клиентов, остановка доступа к сервису при достижении негативного баланса
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Инвентаризация ресурсов вендоров
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Различные виды отчётов: детализации, агррегированные по клиенту, по кампаниям клиента.
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Отправка месячных биллингов на почту
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Личный кабинет клиента с возможностью:
                  <ul>
                    <li>
                      <v-icon>mdi-circle-small</v-icon>
                      Пополнения баланса, изменение кредитного лимита
                    </li>

                    <li>
                      <v-icon>mdi-circle-small</v-icon>
                      Просмотр уведомлений связанных изменением баланса, остановленных кампаний по причине негативного баланса
                    </li>

                    <li>
                      <v-icon>mdi-circle-small</v-icon>
                      Возможность выгрузить детализацию по кампании за период, просмтор аггрегированных трат за период
                    </li>

                  </ul>
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Мониторинг различных инстансов, дашборд статуса месячной выгрузки и проверка работоспособности инстансов
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Мониторинг ошибок в Slack об ошибках
                </li>
              </ul>

              <a
                class="link"
                href="https://aggregator.ivoice.online/progress"
                target="blank"
              >
                Дашборд контроля выгрузки месячного биллинга
              </a>

              <vueper-slides
                autoplay
                slide-image-inside
                :slide-ratio="1 / 2"
                fixed-height="500px"
                class="mt-4"
              >
                <vueper-slide
                  v-for="(slide, i) in billingProjectSlides"
                  :key="i"
                  :image="slide.image"
                  :title="slide.title"
                  :content="slide.content"
                />
              </vueper-slides>

            </div>

          </v-col>

          <v-col
            cols="12"
            sm="12"
            md="12"
            lg="6"
            class="right"
          >
            <div
              class="project-card"
              data-aos="zoom-in-left"
              data-aos-duration="800"
              data-aos-delay="300"
              data-aos-offset="400"
            >
              <p>
                <span class="text-button font-weight-bold">Мониторинг</span>
                <span class="heading"> - стабильность платформы и обнаружение проблем микросервисов </span>
              </p>

              <p class="project-card-body">
                <span class="font-weight-medium">Что было сделано</span>
              </p>

              <ul>
                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Мониторинг компонентов ситемы
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Мониторинг клиентских ошибок
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Мониторинг ошибок вендоров
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Остановка кампаний клиента в случае обнаружения проблем
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Авторекаверинг ряда ошибок. Часть ошибок, такие как ошибка работы sip шлюза клиента носят временный характер. Поэтому сервис может их протестировать и возобновить сервис для клиента.
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Возможность детальной настройки конкретной ошибки
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Обнаружение новых ошибок, не обнаруженных ранее
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Мониторинг количества выполняемых задач на инстансе медиасервера(сервис ведения диалога) для последущей балансировки
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Мониторинг linux-серверов с помощью Zabbix.
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Настройка сервера и правил мониторинга.
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Мониторинг приложений с помощью Grafana Prometheus Spring Actuator
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Интеграция уведомлений об ошибках в Slack
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Health - checks важных компонентов платформы
                </li>
              </ul>

              <a
                class="link"
                href="https://msworkload.ivoice.online"
                target="blank"
              >
                Демо дашборда по текущей нагрузке инстансов медиасерверов
              </a>

              <vueper-slides
                autoplay
                slide-image-inside
                :slide-ratio="1 / 2"
                fixed-height="500px"
                class="mt-4"
              >
                <vueper-slide
                  v-for="(slide, i) in monitoringProjectSlides"
                  :key="i"
                  :image="slide.image"
                  :title="slide.title"
                  :content="slide.content"
                />
              </vueper-slides>

            </div>

          </v-col>

          <v-col
            cols="12"
            sm="12"
            md="12"
            lg="6"
            class="left-second"
          >
            <div
              class="project-card"
              data-aos="zoom-in-right"
              data-aos-duration="800"
              data-aos-delay="300"
              data-aos-offset="400"
            >
              <p>
                <span class="text-button font-weight-bold">Релизы</span>
                <span class="heading"> - внедрение IaС </span>
              </p>

              <p class="project-card-body">
                <span class="font-weight-medium">Что было сделано</span>
              </p>

              <ul>
                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Сохранение конфигураций серверов и приложений в GIT
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Плейбуки релизов платформенных компонентов через Ansible
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Настройка Gitlab CI/CD
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Изменение настроек и версий приложений через Merge Request в GIT
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Бэкап важных конфигураций
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Бэкап важных конфигураций
                </li>

              </ul>

              <vueper-slides
                slide-image-inside
                :slide-ratio="1 / 2"
                fixed-height="500px"
                class="mt-4"
              >
                <vueper-slide
                  v-for="(slide, i) in releasesProjectSlides"
                  :key="i"
                  :image="slide.image"
                  :title="slide.title"
                  :content="slide.content"
                />
              </vueper-slides>

            </div>

          </v-col>

          <v-col
            cols="12"
            sm="12"
            md="12"
            lg="6"
            class="right"
          >
            <div
              class="project-card"
              data-aos="zoom-in-left"
              data-aos-duration="800"
              data-aos-delay="300"
              data-aos-offset="400"
            >
              <p>
                <span class="text-button font-weight-bold">RoboTeacher</span>
                <span class="heading"> - Яндекс.Алиса, только для помощи проведения интерактивных уроков в школах </span>
              </p>

              <p class="project-card-body">
                <span class="font-weight-medium">Что было сделано</span>
              </p>

              <ul>
                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Проектирование архитектуры проекта
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Реализация микросервисов
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Реализация навыков(умений) голосового помощника
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Распределение задач по команде разработки, ведение проекта
                </li>
              </ul>

              <a
                class="link"
                href="https://drive.google.com/file/d/166OOVz6mSo_ifFjWbWFj4qKc9dXCZSrb/view?usp=sharing"
                target="blank"
              >
                Демо реализации навыка "Презонализированного тестирования"
              </a>

              <vueper-slides
                autoplay
                slide-image-inside
                :slide-ratio="1 / 2"
                fixed-height="500px"
                class="mt-4"
              >
                <vueper-slide
                  v-for="(slide, i) in robotTeacherProjectSlides"
                  :key="i"
                  :image="slide.image"
                  :title="slide.title"
                  :content="slide.content"
                />
              </vueper-slides>

            </div>

          </v-col>

          <v-col
            cols="12"
            sm="12"
            md="12"
            lg="6"
            class="left-second"
          >
            <div
              class="project-card"
              data-aos="zoom-in-left"
              data-aos-duration="800"
              data-aos-delay="300"
              data-aos-offset="400"
            >
              <p>
                <span class="text-button font-weight-bold">Voicebot</span>
                <span class="heading"> - SaaS платформа для обзвона клиентов </span>
              </p>

              <p class="project-card-body">
                <span class="font-weight-medium">Что было сделано</span>
              </p>

              <ul>
                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Занимался масштабированием системы, находил уские места и устранял их. Так, удалось поднять пиковую нагрузку с 50к звонков до 300к звонков за 8 часов
                </li>
                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Шаблонные коробочные решения
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Личный кабинет пользователя
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Создание кампаний на основе шаблонов и их модификация
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Конструктор сценариев
                </li>

                <li>
                  <v-icon>mdi-circle-small</v-icon>
                  Управление кампаниями(аналог проекта) клиента
                </li>

              </ul>

              <vueper-slides
                slide-image-inside
                :slide-ratio="1 / 2"
                fixed-height="500px"
                class="mt-4"
              >
                <vueper-slide
                  v-for="(slide, i) in voicebotProjectSlides"
                  :key="i"
                  :image="slide.image"
                  :title="slide.title"
                  :content="slide.content"
                />
              </vueper-slides>

            </div>

          </v-col>

        </v-row>
      </div>

    </div>
  </v-container>
</template>

<script>
import { VueperSlides, VueperSlide } from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'
export default {
  name: "Career",
  components: { VueperSlides, VueperSlide },
  data () {
    return {
      tasks: [
        { text: "Написание клиентских сценариев с использованием IvoiceSdk v1" },
        { text: "Написание интеграций-адаптеров для клиентов" },
        { text: "Доработка и расширение функционала IvoiceSdk v1 и IvoiceSdk v2 " },
        { text: "Итеграции с вендорами(Google, Yandex, etc), сервисы speech-to-text, text-to-speech" },
        { text: "Релиз клиентов, релизы сервисов платформы" },
        { text: "Повышение стабильности платформы, написание систем мониторинга" },
        { text: "Распределение задач по команде разработки, расстановка приоритетов, помощь в решении задач" },
        { text: "Внедрение Iac подхода, релиз стека платформы с помощью плейбуков через Ansible" },
        { text: "Разрешение инцидентов и bug fixing ❤️❤️❤️" }
      ],

      billingProjectSlides: [
        { image: require('@/assets/img/career/ivoice/projects/billing/dashboard-1.png') },
        { image: require('@/assets/img/career/ivoice/projects/billing/dashboard-2.png') },
        { image: require('@/assets/img/career/ivoice/projects/billing/billing-slack.png') },
        { image: require('@/assets/img/career/ivoice/projects/billing/lk-1.png') },
        { image: require('@/assets/img/career/ivoice/projects/billing/lk-2.png') },
      ],

      monitoringProjectSlides: [
        { image: require('@/assets/img/career/ivoice/projects/monitoring/slack-alert.png') },
        { image: require('@/assets/img/career/ivoice/projects/monitoring/workload.png') },
        { image: require('@/assets/img/career/ivoice/projects/monitoring/workload-chart.png') },

      ],

      releasesProjectSlides: [
        { image: require('@/assets/img/career/ivoice/projects/releases/1.png') },
      ],
      robotTeacherProjectSlides: [
        { image: require('@/assets/img/career/ivoice/projects/roboteacher/1.png') },
        { image: require('@/assets/img/career/ivoice/projects/roboteacher/2.png') },
        { image: require('@/assets/img/career/ivoice/projects/roboteacher/3.png') },
      ],
      voicebotProjectSlides: [
        { image: require('@/assets/img/career/ivoice/projects/voicebot/1.png') },
      ]
    }
  }

}
</script>

<style lang="css" scoped>
.link {
  text-decoration: none;
  color: #5c6bc0;
}

ul {
  list-style: none;
}

.wrap-text {
  white-space: normal;
}

.grid-container {
  margin-top: 1.8rem;
  display: grid;
  grid-gap: 3.5rem;
  grid-template-columns: repeat(2, 1fr);
}

img {
  width: 100%;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

p {
  font-size: 1.1rem;
  line-height: 2rem;
}

.project-card {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  padding: 25px;
}
.vueperslide__image {
  background-size: contain;
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-container .description {
    order: 1;
  }

  .grid-container img {
    order: 0;
  }
}

@media (min-width: 1264px) {
  .project-card {
    margin-right: 4rem;
  }
  .right {
    margin-top: 500px;
  }

  .left-second {
    margin-top: -250px;
  }
}
</style>