<template>
  <v-container
    data-aos="fade-up"
    data-aos-duration="800"
  >
    <v-row
      justify="center"
      class="fill-height"
    >
      <v-col
        cols="12"
        sm="12"
        md="6"
        class="pa-10"
      >
        <v-card
          elevation="2"
          min-width="100%"
          class="mt-10 mb-10 card"
        >
          <v-img
            src="@/assets/img/school.jpg"
            height="400px"
          ></v-img>
          <v-card-title>
            Школа, 2014 - 2016
          </v-card-title>
          <v-card-subtitle>
            Бийский Лицей-интернат Алтайского края, класс с уклоном на информационные технологии
          </v-card-subtitle>

          <v-card-text>
            Перешёл в лицей со своей сельской школы, где делал упор на гуманитарные науки. В лицее было очень много информатики - Assembler, ООП, Web, Робототехника. Окончил лицей с золотой медалью и 260+ баллами по ЕГЭ.
          </v-card-text>
        </v-card>

      </v-col>

      <v-col
        cols="12"
        sm="12"
        md="6"
        class="pa-10"
      >

        <v-card
          elevation="2"
          min-width="100%"
          class="mt-10 mb-10 card"
        >
          <v-img
            src="@/assets/img/university.jpg"
            height="400px"
          ></v-img>
          <v-card-title>
            Университет, 2016 - 2020
          </v-card-title>
          <v-card-subtitle>
            Новосибирский Государственный Исследовательский Университет, факультет информационных технологий
          </v-card-subtitle>

          <v-card-text>
            Изучал С, С++, Java. Прошёл курсы по базам данных, операционным системам, распределённым информационным системам, сетевым технолгиям и другим. Окончил со средним баллом ~4.3, так как совмещал обучение с работой со второго курса.
          </v-card-text>
        </v-card>

      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  name: "Education",

};
</script>

<style lang="css" scoped>
.card {
  min-height: 700px;
}
</style>