<template>
  <v-container
    fluid
    fill-height
    data-aos="fade-up"
    data-aos-duration="800"
  >
    <v-container class="d-flex justify-center align-center flex-column">
      <v-img
        max-width="200"
        max-height="200"
        src="@/assets/img/profile-circle.png"
        alt="Roman Terekhov"
      >
      </v-img>

      <v-container
        class="pt-10 d-flex justify-center align-center flex-column"
        :class="{'subheading': $vuetify.breakpoint. smAndDown, 'text-h6': $vuetify.breakpoint. mdAndUp}"
      >
        <p>Привет! Меня зовут Роман Терехов. Мне 23 года, в 2020 году окончил ФИТ НГУ. </p>
        <p>На данный момент работаю в компании Ivoice Technology, разрабатываю платформу и голосовых роботов. </p>
        <p>Имею 4+ года коммерческого опыта работы. Основное направление - бэкенд. Активно участвую в хакатонах и открыт ко всему новому. </p>
        <p class="text-left"><span class="font-weight-bold"> Стек технологий: </span> Java, Spring, Kafka, Mongo, Docker, Vue.js </p>
        <p>Тaкже имею опыт работы со следующими технологиями: SQL, Cassandra, Ansible, Nginx, Zabbix, Grafana, Prometheus, Gitlab CI/CD, GCP, Nexus, Proxmox, Python, HTML, CSS </p>
      </v-container>

    </v-container>

  </v-container>
</template>

<script>

export default {
  name: "Home",

};
</script>

<style lang="css">
.main-container {
  height: 100% !important;
}
</style>
