<template>
  <v-container
    data-aos="fade-up"
    data-aos-duration="800"
  >
    <v-row justify="space-between">
      <v-col
        cols="12"
        sm="6"
        md="6"
        class="pa-10"
        v-for="item in items"
        :key="item.id"
      >
        <v-skeleton-loader
          class="mx-auto"
          max-width="300"
          type="card"
        >
          <ProjectCardPreview :item-prop="item" />
        </v-skeleton-loader>
      </v-col>
    </v-row>
  </v-container>
</template> 

 
<script>
import ProjectCardPreview from './ProjectCardPreview.vue'
export default {
  name: "ProjectContainer",
  components: {
    ProjectCardPreview
  },
  data () {
    return {
      items: [
        {
          id: "0",
          title: "Mechanic",
          subtitle: "- Прототип приложения по выездному ремонту машин",
          description: "Разработали мвп приложения, в котором можно оставить заявку на ремонт и вызвать механика для ремонта",
          imgSrc: "mechanic.png",
          linkText: "Подробнее о Mechanic"
        },
        {
          id: "1",
          title: "IKEA",
          subtitle: "- Прототип онлайн - меню для сети ресторанов Бистро IKEA",
          description: "Разработали прототип для ИКЕА, вели переговоры на протяжении 2-ух лет. Что из этого вышло?",
          imgSrc: "ikea.png",
          linkText: "Подробнее об IKEA"
        }, {
          id: "2",
          title: "Цифровой прорыв 2020",
          subtitle: "- крупнейший IT - марафон в России.",
          description: "Создали интерактивный путеводитель по парку. Его зовут ЛисКаприз - он удовлетворит любые капризы посетителей парков.",
          imgSrc: "digital-breakthrough-2020.png",
          linkText: "Подробнее о кейсе"
        },
        {
          id: "3",
          title: "AMC.Make",
          subtitle: " - американский хакатон, посвщённый урбанистике.",
          description: "Разработали прототип приложения, которое в режиме реального времени показывает заполненность заведения, а также позволяет встать в электронную очередь.",
          imgSrc: "amc2020.png",
          linkText: "Подробнее о кейсе"
        },
        {
          id: "4",
          title: "Parflab",
          subtitle: " - интернет-магазин на распив.",
          description: "Придумали адаптивный дизайн магазина духов и выполнили разработку с акцентом на мобильные устройства.",
          imgSrc: "parflab.png",
          linkText: "Подробнее о Parflab"
        },
        {
          id: "5",
          title: "Samoisolation",
          subtitle: " - первый в интернете сервис для самоизоляции.",
          description: "Сервис, посвященный самоизоляции, где каждый сможет поделиться мыслями и рассказать, как проходят дни дома.",
          imgSrc: "samoisolation2.png",
          linkText: "Подробнее о Samoisolation"
        },
        {
          id: "6",
          title: "Food AR",
          subtitle: " - еда в дополненной реальности.",
          description: "Концепт приложения, с помощью которого можно посмотреть блюдо в дополненной реальности и определиться с выбором.",
          imgSrc: "foodar.png",
          linkText: "Подробнее о Food AR"
        },
        {
          id: "7",
          title: "Navigation Leroy Merlin",
          subtitle: " - кейс сервиса навигации в магазине.",
          description: "Концепт сервиса навигации в большом торговом центре на примере Leroy Merlin.",
          imgSrc: "leroy-merlin.png",
          linkText: "Подробнее о кейсе Leroy Merlin"
        },

        {
          id: "8",
          title: "Цвет Настроения ❤️",
          subtitle: "- событийно - оринтированный сервис для тебя",
          description: "Гео - муд сервис, который поможет найти самые интересные места в городе в реальном времени.",
          imgSrc: "moodcolor.png",
          linkText: "Подробнее о Цвете Настроения",
        },


      ]
    }
  }

}
</script>

<style>
</style>