<template>
  <v-container
    class="project"
    data-aos="zoom-in-up"
    data-aos-duration="800"
    data-aos-delay="300"
    data-aos-offset="300"
    :class="{'mobileCard': $vuetify.breakpoint. mdAndDown, 'pcCard': $vuetify.breakpoint. lgAndUp}"
  >
    <router-link
      :to="'/project/' + itemProp.id"
      class=""
      @click.native="scrollToTop"
    >
      <img
        :src="itemImage"
        alt=""
      />
    </router-link>
    <div class="project-body justify-space-between pa-5">
      <p>
        <span class="font-weight-bold">{{itemProp.title }}</span>
        {{itemProp.subtitle}}
      </p>
      <p>
        {{itemProp.description}}
      </p>
      <div class="btn">
        <v-btn
          class="mt-2 mb-3"
          outlined
          color="indigo"
          :height="isMobile? 'unset': '36px'"
          :block="isMobile"
        >
          <router-link
            :to="'/project/' + itemProp.id"
            :class="[{'mobileLink' : isMobile}, {'text-wrap' : isMobile}]"
          >
            {{ itemProp.linkText}}
          </router-link>
        </v-btn>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  name: "ProjectCardPreview",
  props: {
    itemProp: {
      type: Object,
      required: true
    }
  },
  computed: {
    itemImage () {
      return require(`../assets/img/projects/${this.itemProp.imgSrc}`);
    },

    isMobile () {
      return this.$vuetify.breakpoint.smAndDown;
    },
  },
  methods: {
    scrollToTop () {
      window.scrollTo(0, 0);
    }
  }

}
</script>

<style>
.project {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.mobileCard {
  min-height: 485px;
}

.pcCard {
  min-height: 650px;
}
.project-body {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

button > span > a {
  color: #000 !important;
  text-decoration: none !important;
  font-size: 0.9rem;
}

img {
  width: 100%;
}

p {
  line-height: 1.25rem;
}
.mobileLink {
  width: min-content;
  margin: auto;
}
</style>