<template>
  <v-container
    class="section-project mt-4" data-aos="fade-up" data-aos-duration="800"
  >
    <div v-if="project" class="container">
      <p>
        <span class="headline font-weight-bold">{{ project.title }}</span>
        <span class="heading">{{ project.subtitle }}</span>
      </p>

      <div class="grid-container">
        <div class="description">
          <h3>Что мы сделали?</h3>
          <p v-html="project.whatWeDo">
          </p>

          <h3 v-if="project.businessValue">Что получает бизнес</h3>

          <p v-if="project.businessValue"> {{ project.businessValue }}</p>

          <!-- <h3>Демо</h3>
          <a href="https://foodar.avocadoonline.company/"><span class="underline">Food Ar</span></a> -->

          <h3 v-if="project.technologies">Технологии</h3>
          <p v-if="project.technologies"> {{ project.technologies }}</p>

          <h3 v-if="project.links">Ссылки</h3>

          <v-list-item
            v-for="link in project.links"
            :key="link.url"
          >

            <v-list-item-content>
              <a
                :href="link.url"
                class="link d-flex"
                target="blank"
              >
                <v-icon>mdi-git</v-icon>
                <v-list-item-title>{{ link.textLabel }}</v-list-item-title>
              </a>
            </v-list-item-content>

          </v-list-item>

          <p class="date">{{ project.date }}</p>

        </div>

        <a href="/">
          <img
            :src="itemImage"
            alt=""
          >
        </a>
      </div>

      <div
        v-if="project.presentation"
        class="presentation"
      >
        <h3>Презентация решения</h3>
        <div class="presentation-container mt-5 mb-5">
          <iframe
            id="iFrame"
            ref="iframeRef"
            class="responsive-iframe"
            :src="presentation"
            @load="checkLoad"
          ></iframe>
        </div>
      </div>

    </div>

  </v-container>
</template>

<script>
// import $ from 'jquery';
import { mapGetters } from 'vuex'
export default {
  name: "ProjectCard",
  data () {
    return {
      id: null,
      project: null,
      timerId: null,
    }
  },
  methods: {
    reloadIFrame() {
     var iframe = document.getElementById("iFrame");
      console.log(iframe.contentDocument.URL); //work control
      if(iframe.contentDocument.URL == "about:blank"){
        console.log("frame 204 status code")
        // eslint-disable-next-line no-self-assign
        iframe.src =  iframe.src;
      }
    },

    checkLoad(e) {
      console.log(e)
      clearInterval(this.timerId)
    }

  },
  computed: {
    ...mapGetters(['getProjectById']),
    itemImage () {
      return require(`../assets/img/projects/${this.project.imgSrc}`);
    },
    presentation () {
      return `https://docs.google.com/viewer?url=${this.project.presentation}&embedded=true`
    }
  },

  mounted () {
    this.id = this.$route.params.id;
    this.project = this.getProjectById(this.id);
    
  },

  created() {
    this.timerId = setInterval(() => {
        this.reloadIFrame()
    }, 2000);  
  },

  beforeDestroy () {
    clearInterval(this.timerId)
  }
  
}
</script>

<style lang="css" scoped>
.grid-container {
  margin-top: 1.8rem;
  display: grid;
  grid-gap: 3.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.link {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

p {
  font-size: 1.1rem;
  line-height: 2rem;
}

.presentation-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-container .description {
    order: 1;
  }

  .grid-container img {
    order: 0;
  }
}
</style>
