<template>
  <v-container>
    <div class="iframe">
      <div class="iframe-inner-container mt-5 mb-5">
        <iframe
          id="iFrame"
          ref="iframeRef"
          class="responsive-iframe"
          src="https://docs.google.com/viewer?url=https://firebasestorage.googleapis.com/v0/b/portfolio-24452.appspot.com/o/cv.pdf?alt=media&embedded=true"
          @load="checkLoad"
          height="100vh"
        ></iframe>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  name: "Resume",
  data () {
    return {
      timerId: null,
    }
  },
  methods: {
    reloadIFrame () {
      var iframe = document.getElementById("iFrame");
      console.log(iframe.contentDocument.URL); //work control
      if (iframe.contentDocument.URL == "about:blank") {
        console.log("frame 204 status code")
        // eslint-disable-next-line no-self-assign
        iframe.src = iframe.src;
      }
    },

    checkLoad (e) {
      console.log(e)
      clearInterval(this.timerId)
    }
  },

  created () {
    this.timerId = setInterval(() => {
      this.reloadIFrame()
    }, 2000);
  },

  beforeDestroy () {
    clearInterval(this.timerId)
  }


}
</script>

<style lang="css" scoped>
.iframe-inner-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
</style>