<template>
  <v-app>
    <NavBar />
    <AppMain />
    <Footer />
  </v-app>
</template>

<script>
import { NavBar, AppMain, Footer } from './components/layout';

export default {
  name: "App",
  components: {
    NavBar,
    AppMain,
    Footer
  },


  data () {
    return {

    }
  }
};
</script>

<style>
/* div[data-app='true'] {
  background: linear-gradient(
      180deg,
      #fff7ef 0%,
      #f3f2fc 33.33%,
      #fceeef 67.19%,
      #ffffff 99.48%
    )
    no-repeat bottom center/cover !important;
} */
</style>